

.balanced-card{
    width: 505px;
    height: 191px;
    border-radius: 8px;
    padding: 10px;
     background: linear-gradient(135deg, #2e3e4a, #0c2c3e);
}
.wallet-top-card-img{
       position: absolute;
    top: 0;
    right: 0;
    left: 38%;
    width: 144px;
    height: 82px;
    z-index: 10; 
    opacity: 36%;
}
.wallet-left-circle{
      position: absolute;
    top: 11%;
    right: 0;
    left: 91%;
    width: 47px;
    height: 51px;
    z-index: 10; 
    opacity: 36%; 
}
.wallet-bottom-circle{
       position: absolute;
   top: 74%;
    right: 0;
    left: 67%;
    width: 88px;
    height: 49px;
    z-index: 10; 
    opacity: 36%;
}
.wallet-center-circle{
    position: absolute;
    top: 42%;
    right: 0;
    left: 37%;
    width: 83px;
    height: 82px;
    z-index: 10;
    opacity: 101%;
}
.right-card-bottom-circle{
          position: absolute;
   top: 74%;
    right: 0;
    left: 67%;
    width: 88px;
    height: 49px;
    z-index: 10; 
    opacity: 36%;
}
.wallet-left-circles{
    position: absolute;
    top: 34%;
    right: 0;
    left: 91%;
    width: 47px;
    height: 47px;
    z-index: 10; 
    opacity: 92%;   
}
.filter-dropdown-wrapper button {
  width: 132px !important;
  height: 32px !important;
  padding: 4px 8px !important; 
  line-height: 1 !important; 
  min-height: unset !important; 
  box-sizing: border-box; 
  font-size: 14px;
}



.custom-dropdown-menu {
  background-color: #263044;
  width: 112px;
}

.custom-dropdown-menu .dropdown-item {
  color: white;
}

.custom-dropdown-menu .dropdown-item:hover {
  background-color: #39404b;
  color: white;
}


.total-balance h5{
    margin-top: 20px;
    margin-left: 25px;
    font-size: 24px;
    font-weight: 600;
}
.card-despite h5{
    margin-right: 25px !important;
    margin-top: 18px;
    font-size: 24px;
    font-weight: 600;
    color: #38AFC3;
}
.balance-result{
    font-size: 32px;
    font-weight: 600;
    color: white;
}
.deposits-result{
    color: white;
    font-size: 16px;
}

.transaction-addition-button {
  align-items: center;
  /* justify-content: center; */
  width: 114px !important;
  height: 32px !important;
  white-space: nowrap;
  padding: 0 10px; /* Horizontal padding only */
  background: linear-gradient(to right, #38afc3, #1487b3);
  color: #fff;
  font-size: 13px;
  gap: 5px; /* Space between icon and text */
}
#transaction-addition-button{
    width: 155px !important;
}
.refund-custom-btn{
    width: 93px;
    height: 32px;
      display: inline-block;
  padding: 7px 12px;
  font-size: 14px !important;
  color: white;
  border-top: 1px solid #00a8ff !important;
  border-right: 1px solid #136ca1 !important;
  border-bottom: 1px solid #00a8ff !important;
  border-left: 1px solid #164058 !important;

  border-radius: 8px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


.transaction-table{
    background: var(--table); 
  padding: 6px;
}
.transaction-history-table td {
   border-bottom: 0.3px solid gray !important;
  padding: 6px;
   background:(var(--table));
}


.transaction-history-table thead th{
height: 38px;
}
.status-complete{
    color: #34C586 !important;
}
.status-cancel{
    color: #F9837C !important;
}
.btn-month{
    width: 133px;
    height: 32px;
     background-color: transparent;
      border-top: 1px solid #00a8ff !important;
  border-right: 1px solid #136ca1 !important;
  border-bottom: 1px solid #00a8ff !important;
  border-left: 1px solid #164058 !important;
  border-radius: 8px;
  color: #38AFC3 !important;
}
.dropdown-arrow-icon {
   filter: invert(10%) sepia(61%) saturate(417%) hue-rotate(142deg) brightness(90%) contrast(87%);
}
.month-selection .month-dropdown-menu {
  background-color: #263044 !important;
}

.month-selection .month-dropdown-menu .dropdown-item {
  color: white !important;
}

.month-selection .month-dropdown-menu .dropdown-item:hover {
  background-color: #39404b !important; /* Optional: darker hover */
  color: white !important;
}


#pagination-count .page-item.active .page-link {
  width: 30px !important;
  height: 30px !important;
  padding: 0 !important;
  line-height: 30px !important;
  text-align: center;
  border-radius: 50%; /* Optional: makes it round */
  background-color: #38afc3; /* Optional: highlight active */
  color: white; /* Optional: text color */
}

#campaignTable{
    width: 1112px !important;
    height: auto;
    margin-left: 14px;
}
